
body {
  font-family: 'Lato', sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


/* Style the sidenav links and the dropdown button */
.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
} 
.dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}


/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}
.arrow {
  border: solid rgb(245, 240, 240);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
/* Optional: Style the caret down icon */
.down {
  
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
  h2 
  {
  color: rgb(5, 64, 141);
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  
  font: size 25px;
  background-color:rgba(0, 255, 0, 0.322);
  
  }
  
h1
  {
background-size: 50%;

  text-align: right;
  font-size: 12px;

  }

h1 img
  {
      
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 15%;
      height: 3%;
      
  } 

h3
  {
  text-align: center;
  font-size: 25; 
  }

hr.rounded
   {
      border-top: 6px solid #bbb;
      border-radius: 25px;
   }
  

  table 
  {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
  }
   
   td, th 
   {
     border: 1px solid #dddddd;
     text-align: left;
     padding: 8px;
   }
   
   tr:nth-child(even) 
   {
     background-color: #dddddd;
   }