
body {
	background: #f6f5f7;
	
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	
}

img {
  height: 100px;
  width: 150px;
  float: left;
}

h1 {
  text-align: right;
  font-size: 15px;
}



ul {
  list-style-type: none;
  width: 100% auto;
  margin: 0;
  padding:0;
  overflow: hidden;
  background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	color: #FFFFFF;
  word-spacing: 50%;
}

li {
  width:20%;
  float: left;
}



li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #fa7392;
  border-width: 3px;
  border-color: rgb(32, 6, 122);
  
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}


/* Style the sidenav links and the dropdown button */
.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
} 
.dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}


/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}
.arrow {
  border: solid rgb(245, 240, 240);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
/* Optional: Style the caret down icon */
.down {
  
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
  h2 
  {
  color: rgb(5, 64, 141);
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  
  font: size 25px;
  background-color:rgba(0, 255, 0, 0.322);
  
  }
  
h1
  {
background-size: 50%;

  text-align: right;
  font-size: 12px;

  }

h1 img
  {
      
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 15%;
      height: 3%;
      
  } 

h3
  {
  text-align: center;
  font-size: 25; 
  }

hr.rounded
   {
      border-top: 6px solid #bbb;
      border-radius: 25px;
   }
  

  table 
  {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
  }
   
   td, th 
   {
     border: 1px solid #dddddd;
     text-align: left;
     padding: 8px;
   }
   
   tr:nth-child(even) 
   {
     background-color: #dddddd;
   }